<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
    </head>
      
    <body>
        <div>
            <h1>Your transaction has been successful!</h1>
            <p>You should receive your membership in the next working day.</p>
            <p>Happy geo-hunting!</p>
        </div>


        <script>
            
        </script>
    </body>
</html>