<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <title>Dashboard</title>
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <div id="app">
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
      <a class="navbar-brand" href="#"> <img src='../img/logo.jpg' height=50 width=120> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="dashboard.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="order.html">Rewards Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="box_hunt.html">Box Hunt</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="leaderboard.html">Leaderboards</a>
          </li>
          <li class="nav-item" v-if="is_member !== true">
            <a class="nav-link" href="payment.html">Buy Membership</a>
          </li>
          <li class="nav-item" v-else>
            <a class="nav-link disabled" href="payment.html">I'm a Member</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hi, {{ user }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="inventory.html">My Inventory</a>
              <a class="dropdown-item" href="#">Log Out</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- TEMP STORAGE FOR USER-->
    <input type='hidden' id='current' value='Michelle'>
    <!-- TEMP STORAGE FOR USER-->

    <div class="container-fluid">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Welcome, {{ user }}</h1>
          <div id="login"></div>

          <div class="row placeholders">
            <div class="col-xs-8 col-sm-4 placeholder">
              <img src="../img/box.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>You have opened {{ boxes_opened }} boxes</h4>
              <span class="text-muted">Go for the Box Hunt to find some more!</span>
            </div>
            <div class="col-xs-8 col-sm-4 placeholder">
              <img src="../img/coins.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>You have {{ current_points }} points in your wallet</h4>
              <span class="text-muted">Spend them at the GeoHunt Shop!</span>
            </div>
            <div class="col-xs-8 col-sm-4 placeholder">
              <img v-if="is_member === true" src='../img/member.jpg' width='200' height='200' class="img-responsive" alt="Generic placeholder thumbnail">
              <img v-else src='../img/not_member.jpg' width='200' height='200'>
              <h4 v-if="is_member === true">You are a Member</h4>
              <h4 v-else>You are NOT a member</h4>
              <span v-if="is_member === true" class="text-muted">Thank you for supporting the Geo Hunt!</span>
              <span v-else class="text-muted">Members get extra benefits and bonuses, purchase it now!</span>
            </div>
          </div>

          <div class="row placeholders">
            <hr>
            <h3 v-if="daily_boxes != 0">You have {{ daily_boxes }} boxes. Go to the <a href='box_hunt.html'>Box Hunt</a> and plant them!</h3>
            <h3 v-else>You have no boxes to plant. Wait till tomorrow to receive more.</h3>
            <hr>
          </div>

          <h2 class="sub-header">Leaderboards</h2>
          <div class="row placeholders">
            <div class="col-xs-12 col-sm-6 placeholder">
              <div class="table-responsive">
                <h3>Total Points Scored</h3>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Total Points Earned</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(top, index) in top3_points">
                      <td><img :src='trophy_images[index]' width=50 height=40></td>
                      <td v-bind:style="{'font-weight': user === top.username ? 'bold':''}">{{ top.username }}</td>
                      <td>{{ top.total_points }}</td>
                    </tr>
                    <tr v-if="top3_points_users.indexOf(user) === -1">
                      <td v-if="top10_points.indexOf(user) === -1">-</td>
                      <td v-else> {{ top10_points.indexOf(user) + 1 }}</td>
                      <td style='font-weight:bold;'>{{ user }}</td>
                      <td>{{ total_points }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 placeholder">
              <div class="table-responsive">
                <h3>Number of Boxes Opened</h3>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Boxes Opened</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(top2, index2) in top3_box">
                      <td><img :src='trophy_images[index2]' width=50 height=40></td>
                      <td v-bind:style="{'font-weight': user === top2.username ? 'bold':''}">{{ top2.username }}</td>
                      <td>{{ top2.boxes_open }}</td>
                    </tr>
                    <tr v-if="top3_box_users.indexOf(user) === -1">
                      <td v-if="top10_box.indexOf(user) === -1">-</td>
                      <td v-else> {{ top10_box.indexOf(user) + 1 }}</td>
                      <td style='font-weight:bold;'>{{ user }}</td>
                      <td>{{ boxes_opened }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
    <script>
      var user_URL = 'http://localhost:8000/user/'
      var top10_URL = 'http://localhost:8000/user/leaderboardRank'
      var lastloginURL = 'http://localhost:8000/user/lastlogin'

      var current_user = document.getElementById("current").value;
      var app = new Vue({
        el: "#app",
        data: {
          "user": current_user,
          "boxes_opened": "loading...",
          "current_points": "loading...",
          "total_points": "loading...",
          "is_member": false,
          "daily_boxes": "loading...",
          "top3_points": [],
          "top3_box": [],
          "top3_points_users":[],
          "top3_box_users":[],
          "top10_points":[],
          "top10_box":[],
          "trophy_images": ['../img/gold_trophy.jpg','../img/silver_trophy.jpg','../img/bronze_trophy.jpg']


        },
        methods: {
          newLoginBox: async function() {
            const response = await fetch(
              lastloginURL, 
              { method: 'PUT',
                headers: {
                            "Content-type": "application/json"
                          },
                body: JSON.stringify({"username": current_user})
              });

            if (!response.ok) {
              console.log("Error trying to update Last Login");
            }
            else {
              const login_data = await response.json();
              console.log(login_data);
              if (login_data.code != 200) {
                console.log("Can't record login, user not found!"); 
              }
              else {
                if (login_data.message != "User logged in today already.") {
                  $("#login").text(login_data.message);
                  $("#login").addClass("alert alert-info");
                }
              }
            }
          },
          getUserData: async function() {
            const response = 
              await fetch(user_URL + this.user, {method: 'GET'});

              if (!response.ok) {
                console.log("Error");
              }
              else {
                const user_data = await response.json();
                console.log(user_data);
                if (user_data.code != 200) {
                  console.log("User not found!")
                }
                else {
                  this.boxes_opened = user_data.user.boxes_open;
                  this.current_points = user_data.user.current_points;
                  this.total_points = user_data.user.total_points;
                  this.daily_boxes = user_data.user.daily_boxes;
                  if (user_data.user.is_member == "Y") {
                    this.is_member = true;
                  }
                }
              }
          },
          getTop3: async function() {
            const response = 
              await fetch(top10_URL, {method: 'GET'});

              if (!response.ok) {
                console.log("Error in retrieving top 3 board")
              }
              else {
                const lb_data = await response.json();
                if (lb_data.code != 200) {
                  console.log("Error, no users found.")
                }
                else {
                  for (i=0;i<lb_data.top10_points.length;i++) {
                    this.top10_points.push(lb_data.top10_points[i].username);
                    this.top10_box.push(lb_data.top10_boxes[i].username);
                    if (i < 3) {
                      this.top3_points_users.push(lb_data.top10_points[i].username);
                      this.top3_box_users.push(lb_data.top10_boxes[i].username);
                    }
                  }
                  console.log(this.top10_points);
                  console.log(this.top10_box);
                  console.log(this.top3_points_users);
                  console.log(this.top3_box_users);
                  console.log(this.top3_box_users.indexOf(this.user))

                  this.top3_points = [ lb_data.top10_points[0], lb_data.top10_points[1], lb_data.top10_points[2] ];
                  this.top3_box = [ lb_data.top10_boxes[0], lb_data.top10_boxes[1], lb_data.top10_boxes[2] ];
                }

              }
          }
        },
        created: function() {
          this.newLoginBox();
          this.getUserData();
          this.getTop3();
        }
      });
    </script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>