<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>LeaderBoard</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>

    <body>
        <!-- TEMP STORAGE FOR USER -->
        <input type='hidden' id='current' value='Michelle'>
        <!-- TEMP STORAGE FOR USER -->
        <div id='app'>
            <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
                <a class="navbar-brand" href="#"> <img src='../img/logo.jpg' height=50 width=120> </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="dashboard.html">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="order.html">Rewards Shop</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="box_hunt.html">Box Hunt</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="leaderboard.html">Leaderboards</a>
                    </li>
                    <li class="nav-item" v-if="is_member !== true">
                      <a class="nav-link" href="payment.html">Buy Membership</a>
                    </li>
                    <li class="nav-item" v-else>
                      <a class="nav-link disabled" href="payment.html">I'm a Member</a>
                    </li>
                  </ul>
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hi, {{ user }}
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="inventory.html">My Inventory</a>
                        <a class="dropdown-item" href="#">Log Out</a>
                      </div>
                    </li>
                  </ul>
                </div>
            </nav>
            
            <div class="container">
                <h1>LeaderBoard</h1>
                <div id='notice'></div>
                <div class="row" id="main"> 
                    <table class="table table-striped table-bordered" >
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Top points</th>
                            </tr>
                            <tr v-for="user in top10_points">
                                <td>{{ user.username }}</td>
                                <td>{{ user.total_points }}</td>
                                </td>
                            </tr>
                        </thead>
                    </table>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Top opened box</th>
                            </tr>
                            <tr v-for="user in top10_boxes">
                                <td>{{ user.username }}</td>
                                <td>{{ user.boxes_open }}</td>
                                </td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        

        <script>
            var user = document.getElementById("current").value;
            var user_URL = 'http://localhost:8000/user/';
            var leaderboard_URL = "http://localhost:8000/user/leaderboardRank";
            
            var app = new Vue({
                el: "#app",
                computed: {
                    hasusers: function () {
                        return this.top10_boxes.length > 0;
                    }
                },
                data: {
                    "user": user,
                    "is_member": false,
                    "top10_boxes": [],
                    "top10_points": [],
                    message: "There is a problem retrieving data, please try again later."
                },
                methods: {
                    getUserData: async function() {
                        const response = 
                        await fetch(user_URL + this.user, {method: 'GET'});

                        if (!response.ok) {
                            console.log("Error");
                        }
                        else {
                            const user_data = await response.json();
                            console.log(user_data);
                            if (user_data.code != 200) {
                            console.log("User not found!")
                            }
                            else {
                            this.boxes_opened = user_data.user.boxes_open;
                            this.current_points = user_data.user.current_points;
                            this.total_points = user_data.user.total_points;
                            if (user_data.user.is_member == "Y") {
                                this.is_member = true;
                            }
                            }
                        }
                    },
                    getLeaderboard:  function () {
                        // on Vue instance created, load the leaderboard list
                        const response =
                            fetch(leaderboard_URL)
                                .then(response => response.json())
                                .then(data => {
                                    console.log(response);
                                    if (data.code === 404) {
                                        // no players in db
                                        this.message = data.message;
                                        console.log("No players")
                                    } else {
                                        this.top10_boxes = data.top10_boxes;
                                        this.top10_points = data.top10_points;
                                        console.log("input")
                                    }
                                })
                                .catch(error => {
                                    // Errors when calling the service; such as network error, 
                                    // service offline, etc
                                    console.log(this.message + error);
                                });

                    }
                },
                created: function () {
                    this.getUserData();
                    // on Vue instance created, load the leaderboard
                    this.getLeaderboard();
                }
            });
        </script>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>

</html>